/* ==========================================================================
	Base
	========================================================================= */

	.primary-column {
		width: @primary-column-width;
		float: left
	}

	.secondary-column {
		width: @secondary-column-width;
		float: left;
	}

	.full-column {
		width: @full-column-width;
	}


/* ==========================================================================
	General
	========================================================================= */




