#banner {
	width: 100%;
}

.primary-navbar-inner {
	.container-fixed();
}

.brand.primary-logo {
	// .logo( 100px, 100px );
	margin: 0;
}


/*	
	I hate all of these nested declarations, 
	but it's the only way to override all of 
	Bootstrap's default styling properly.
*/

.primary-navbar .nav {

	& > li {
		
		a {

		}

		&:hover {
			a {
				.box-shadow( none );
				color: @brandColor;
			}
		}
	}

	li {
		&.active {
			a {
				.box-shadow( none );
				color: @brandColor;
			}
		}

		& > a {

			&:hover,
			&:focus {

			}
		}
	}

	.dropdown:hover .dropdown-menu {
		display: block;

	}
	
}




.primary-navbar .nav > li 
{

}

.primary-navbar .nav > .active > a,
.primary-navbar .nav > .active > a:hover 
{
	.box-shadow( none );
	color: @brandColor;
}