/* ==========================================================================
	Nav Style Overrides
	========================================================================= */
	
	.nav {
		li {
			& > a,
			& > a:hover,
			& > a:focus,
			&.active a {
				.box-shadow( none );
				color: @brand-primary;
				background: none;
				padding: 0;
			}
		}
	}

/* ==========================================================================
	Justifed Nav
	========================================================================= */

	.justified-nav {
		display: table;
		margin: 0;
		padding: 0;

		li,
		.menu-item {
			display: table-cell;
			width: 1%;
			float: none;
			text-align: center;
		}
	}

