
h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
	color: @brand-primary;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, 
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
	color: inherit;
}

h1, .h1 {
	font-size: 36px;

}

h2, .h2 {
	font-size: 32px;

}

h3, .h3 {
	font-size: 28px;

}

h4, .h4 {
	font-size: 24px;

}

h5, .h5 {
	font-size: 20px;

}

h6, .h6 {
	font-size: 16px;

}

