/*
	This file is intended to easily overwrite Bootstrap's default,
	as well as to provide an easy way to edit the most commonly
	changed variables.

 */

/* ==========================================================================
	Layout
	========================================================================= */

	@footerHeight:       200px;

	@carouselHeight:     500px;


/* ==========================================================================
	Colors
	========================================================================= */


	// Grays
	// -------------------------

	@grayDarker:            #423d3e;
	@grayDark:              #615b5c;
	@gray:                  #c0bebe;
	@grayLight:             #e2e2e2;
	@grayLighter:           #cfcece;


	// Colors
	// -------------------------

	@brand-primary: #6495ed;


/* ==========================================================================
	Text
	========================================================================= */

	@bodyBackground:        #fff;
	@textColor:             @grayDarker;


	// Links
	// -------------------------
	@linkColor:             @brand-primary;
	@linkColorHover:        darken(@brand-primary, 15%);


	// Fonts
	// -------------------------
	@text-font:        "Helvetica";
	@bold-font:        "Helvetica";

	@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
	@headingsFontWeight:    bold;    // instead of browser default, bold
	@headingsColor:         inherit; // empty to use BS default, @textColor






/* ==========================================================================
	Defaults - Feel free to edit down here, but often you won't need to.
	========================================================================= */

	@sans-font-stack:        "Helvetica Neue", Helvetica, Arial, sans-serif;
	@serif-font-stack:       Georgia, "Times New Roman", Times, serif;
	@mono-font-stack:        Monaco, Menlo, Consolas, "Courier New", monospace;

	// Sizes
	// -------------------------
	@baseFontSize:          16px;
	@baseFontFamily:        @sans-font-stack;
	@baseLineHeight:        1.6;
	@altFontFamily:         @serif-font-stack;	


/* ==========================================================================
	Navbar
	========================================================================= */

	@navbarHeight:                    40px;
	@navbarBackgroundHighlight:       #ffffff;
	@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
	@navbarBorder:                    darken(@navbarBackground, 12%);

	@navbarText:                      #777;
	@navbarLinkColor:                 #777;
	@navbarLinkColorHover:            @grayDark;
	@navbarLinkColorActive:           @gray;
	@navbarLinkBackgroundHover:       transparent;
	@navbarLinkBackgroundActive:      transparent;


/* ==========================================================================
	Button Colors
	========================================================================= */

	@btnBackground:                     #fff;
	@btnBackgroundHighlight:            darken(#fff, 10%);
	@btnBorder:                         #bbb;

	@btnPrimaryBackground:              @linkColor;
	@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 20%);


/* ==========================================================================
	Grid / Site Size. 
	========================================================================= */
	
	// 1020px default, no gutters.
	// -------------------------
	
	@gridColumns:             12;
	@gridColumnWidth:         85px;
	@gridGutterWidth:         0px;
