/*
	This file is intended to easily overwrite Bootstrap's default,
	as well as to provide an easy way to edit the most commonly
	changed variables.

 */

/* ==========================================================================
	Layout
	========================================================================= */

	@primary-column-width:    800px;
	@secondary-column-width:  200px;
	@full-column-width:       (@primary-column-width + @secondary-column-width);

	@footer-height:       200px;

	@carousel-height:     500px;


/* ==========================================================================
	Colors
	========================================================================= */


	// Grays
	// -------------------------

	@gray-darker:            lighten(#000, 13.5%); // #222
	@gray-dark:              lighten(#000, 20%);   // #333
	@gray:                   lighten(#000, 33.5%); // #555
	@gray-light:             lighten(#000, 60%);   // #999
	@gray-lighter:           lighten(#000, 93.5%); // #eee


	// Colors
	// -------------------------

	@brand-primary: #6495ed;


/* ==========================================================================
	Text
	========================================================================= */

	@body-bg:        #fff;
	@text-color:             @gray-darker;


	// Links
	// -------------------------
	@link-color:             @brand-primary;
	@link-hover-color:       darken(@brand-primary, 15%);


	// Fonts
	// -------------------------
	@text-font:        "Helvetica";
	@bold-font:        "Helvetica";

	@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
	@headingsFontWeight:    bold;    // instead of browser default, bold
	@headingsColor:         inherit; // empty to use BS default, @text-color






/* ==========================================================================
	Defaults - Feel free to edit down here, but often you won't need to.
	========================================================================= */

	@sans-font-stack:        "Helvetica Neue", Helvetica, Arial, sans-serif;
	@serif-font-stack:       Georgia, "Times New Roman", Times, serif;
	@mono-font-stack:        Monaco, Menlo, Consolas, "Courier New", monospace;

	// Sizes
	// -------------------------
	@font-size-base:          16px;
	@font-size-large:         ceil(@font-size-base * 1.25); // 20
	@font-size-small:         ceil(@font-size-base * 0.85); // 14
	
	@font-family-base:        @font-family-sans-serif;
	
	@line-height-base:        1.6;
	@line-height-computed:    floor(@font-size-base * @line-height-base); // ~20px

	@headings-line-height:    1.1;
	@headings-font-weight:    normal;
	@headings-font-family:    @font-family-base;	


/* ==========================================================================
	Navbar
	========================================================================= */

	@navbar-height:                    50px;
	@navbar-margin-bottom:             @line-height-computed;
	@navbar-color:                     #777;
	@navbar-bg:                        #f8f8f8;
	@navbar-border:                    darken(@navbar-bg, 6.5%);
	@navbar-border-radius:             @border-radius-base;
	@navbar-padding-horizontal:        floor(@grid-gutter-width / 2);
	@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);


/* ==========================================================================
	Button Colors
	========================================================================= */

	@btn-font-weight:                bold;

	@btn-default-color:              #333;
	@btn-default-bg:                 #fff;
	@btn-default-border:             #ccc;

	@btn-primary-color:              #fff;
	@btn-primary-bg:                 @brand-primary;
	@btn-primary-border:             darken(@btn-primary-bg, 5%);

	@btn-success-color:              #fff;
	@btn-success-bg:                 @brand-success;
	@btn-success-border:             darken(@btn-success-bg, 5%);

	@btn-warning-color:              #fff;
	@btn-warning-bg:                 @brand-warning;
	@btn-warning-border:             darken(@btn-warning-bg, 5%);

	@btn-danger-color:               #fff;
	@btn-danger-bg:                  @brand-danger;
	@btn-danger-border:              darken(@btn-danger-bg, 5%);

	@btn-info-color:                 #fff;
	@btn-info-bg:                    @brand-info;
	@btn-info-border:                darken(@btn-info-bg, 5%);

	@btn-link-disabled-color:        @gray-light;



/* ==========================================================================
	Grid / Site Size. 
	========================================================================= */
	
	// 1020px default, no gutters.
	// -------------------------
	
	@grid-columns:             12;
	@grid-gutter-width:         0px;
